body {
    font-family: Arial, sans-serif;
    background-color: #fdf6f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

h1 {
    color: #a402a4;
}

p {
    font-size: 18px;
}

nav {
    margin-top: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    background-color: #260142;
    padding: 8px 15px;
    border-radius: 5px;
    margin-right: 10px;
}

nav a:hover {
    background-color: #a4508b;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6a0572;
    padding: 15px 40px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.navbar a:hover {
    color: #ffd6ff;
}

.logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/* HERO SECTION */
.hero {
    height: 80vh;
    background: linear-gradient(to right, #fbc2eb, #a6c1ee);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 50px;
    color: #6a0572;
}

.hero p {
    font-size: 20px;
    margin: 15px 0;
}

.btn {
    background-color: #6a0572;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background-color: #a4508b;
    transform: scale(1.1);
}
