<!DOCTYPE html>
<html>
<head>
    <title>About - Crochet Creations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<nav>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/services">Services</a> |
    <a href="/contact">Contact</a>
</nav>
<hr>

<h1>About Us</h1>
<p>
Crochet Creations is a handmade woolen products business.
We create sweaters,Flowers and custom crochet items.
Each product is crafted with care and high-quality wool.
</p>
<p><b>Quality wool:</b> Hum sirf wahi wool use karte hai jo best ho</p>
<p><b>Made to Order:</b> Hum apaki pasand ka dhyan rakhte hai</p>
<p><b>Made with love:</b> Har stitch mai hum dhyan rakhte hai finishing perfect ho</p>
<p><b>custom order:</b> Aap apna manpasand colour aur design share kar sakte hai</p>
<p><b>Response Time:</b> hum koshish karte hai ki 24 hours ke andar aapko reply kare</p>
<p>For any queries regarding custom order or pricing feel free to contact Konika 
Gupta. Contact details are given to the contact page </p>
</body>
</html>
