<!DOCTYPE html>
<html>
<head>
<title>Crochet Hair Accessories</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<h1 style="text-align:center;">Crochet Hair Accessories</h1>

<div class="gallery">

<img src="{{ url_for('static', filename='hair1.jpg') }}">
<img src="{{ url_for('static', filename='hair2.jpg') }}">
<img src="{{ url_for('static', filename='hair3.jpg') }}">
<img src="{{ url_for('static', filename='hair4.jpg') }}">

</div>

</body>
</html>