<!DOCTYPE html>
<html>
<head>
    <title>Services - Crochet Creations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<nav>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/services">Services</a> |
    <a href="/contact">Contact</a>
</nav>

<h1>Our Products</h1>

<div class="services-container">

    <div class="service-card">
    <a href="/hair-accessories">
        <h3>🧶 CROCHET HAIR-ACCESSORIES </h3>
        <p>Soft  handmade  made with premium quality wool.</p>
        <p><strong>Price Range:</strong> ₹99 - ₹299</p>
        <p><strong>Availability:</strong> Multiple colors available</p>
    </a>
    </div>

    <div class="service-card">
    <a href="/flowers">
        <h3>🌻 CROCHET FOREVER FLOWERS</h3>
        <p>Stylish and comfortable crochet caps for winter season.</p>
        <p><strong>Price Range:</strong> ₹149 - ₹1349</p>
        <p><strong>Availability:</strong> Multiple colors available</p>
    </a>
    </div>

    <div class="service-card">
    <a href="/keychains">
        <h3>⛓️ CROCHET KEYCHAINS</h3>
        <p>Handcrafted gloves and scarves perfect for cold weather.</p>
        <p><strong>Price Range:</strong> ₹99 - ₹249</p>
        <p><strong>Availability:</strong> Custom orders accepted</p>
    </a>
    </div>

    <div class="service-card">
    <a href="/pot">
        <h3>🪴 CROCHET POT</h3>
        <p>Cute handmade crochet toys for kids and gifting.</p>
        <p><strong>Price Range:</strong> ₹249 - ₹399</p>
        <p><strong>Availability:</strong> Made on order</p>
    </a>
    </div>

    <div class="service-card">
    <a href="/miscellaneous">
        <h3>🧸 CROCHET MISCELLANEOUS</h3>
        <p>Cute handmade crochet toys for kids and gifting.</p>
        <p><strong>Price Range:</strong> ₹99 - ₹5999</p>
        <p><strong>Availability:</strong> Made on order</p>
    </a>
    </div>

    <div class="service-card">
    <a href="/laddu gopal poshak">
        <h3>🧶 CROCHET LADDU GOPAL POSHAK</h3>
        <p>Cute handmade crochet toys for kids and gifting.</p>
        <p><strong>Price Range:</strong> ₹99 - ₹299</p>
        <p><strong>Availability:</strong> Made on order</p>
    </a>
    </div>


</div>

</body>
</html>
